/* *{box-sizing: border-box;} */
  
.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color:#01243c;
 position: fixed;
 width: 100%;
 border-bottom: 2px solid #72FFFF;
 padding: 0px;
 margin: 0px;
}

.headerpicture{
  height: 350px;
border-radius: 10px 10px 10px 10px;
background-color: #01243c;
padding: 3px;
width: 500px;

border: none;
}

/* .headerpicture:hover{
 background-color: #72FFFF; 
padding: 10px;
transition: 0.7s;
border-radius: 15px 15px 15px 15px;

} */
h4{
  color: #72FFFF;
  background-color: #01243c;
  /* padding: 20px 20px 50px 95px ; */
  padding: 10px 20px 40px 20px ;
  margin-left: 10px;
  /* border-bottom: 3px solid ; */
  border-radius: 200px;
  text-align: center;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 1000px;
  font-family: 'Russo One', sans-serif;
  letter-spacing: 2px;
  font-weight: lighter;
  /* border-right: 1px solid #72FFFF; */
     border: 2px solid #01243c;
}
h7{
  /* color: #72FFFF;
  background-color: #01243c; */
  color: #01243c;
  background-color: white;
  /* padding: 20px 20px 50px 95px ; */
  padding: 10px 20px 40px 20px ;
  margin-left: 10px;
  /* border-bottom: 3px solid ; */
  border-radius: 200px;
  text-align: center;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 1000px;
  font-family: 'Russo One', sans-serif;
  letter-spacing: 2px;
  font-weight: lighter;
  /* border-right: 1px solid #72FFFF; */
     border: 2px solid #01243c;
}


h7:hover{
    color: #72FFFF;
  background-color: #01243c;
  /* color: #01243c;
  background-color: white; */
  /* padding: 20px 20px 50px 95px ; */
  padding: 10px 20px 40px 20px ;
  /* border-bottom: 3px solid ; */
  border-radius: 200px;
  text-align: center;
  margin-left: 10px;
  font-size: 22px;
  margin-top: 7px;
  margin-bottom: 1000px;
  font-family: 'Russo One', sans-serif;
  letter-spacing: 2px;
  font-weight: lighter;
  /* border-right: 1px solid #72FFFF; */
  /* border: 2px solid #01243c; */
}
h4:hover{
  color: #72FFFF;
  background-color: #01243c;
  /* color: #01243c;
  background-color: white; */
  /* padding: 20px 20px 50px 95px ; */
  padding: 10px 20px 40px 20px ;
  /* border-bottom: 3px solid ; */
  border-radius: 200px;
  text-align: center;
  margin-left: 10px;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 1000px;
  font-family: 'Russo One', sans-serif;
  letter-spacing: 2px;
  font-weight: lighter;
  /* border-right: 1px solid #72FFFF; */
  /* border: 2px solid #01243c; */
}
.informationbox{
  text-align: center;
  margin-top: 105px;
  height:187px ;
  background-color: #01243c;
  width: 401px;
  margin-left: 20px;
  border-radius: 5px;
  border: 2px solid #01243c;
  color: #72FFFF;
  font-size: 5vh;
  font-family: 'Russo One', sans-serif;
 line-height: 40px;
  text-align: left;
  margin-bottom: 0px;
  padding: 40px;
  letter-spacing: 0px;
  word-spacing: 0px;
}
.NoticeBoard{
  display: flex;
  flex-direction:column;
  margin-left:600px;

}
.date{
  margin: 30px 10px 10px 0px;
  text-align: right;
  font-size: 12px;
  
}



.box{
border: 2px solid #01243c;
margin-top: 31px;
border-radius: 10px;
width: 500px;
margin-left: 10px;
display:flex;
height: 350px ;
text-align: left;
position: absolute;
margin-right: 0px;
}


 
html {
  scroll-behavior : smooth; 
  transition-duration: 100000s;
  }
.navigation{
  display:flex;
margin-right: 50px;
}

.icon{
  display:flex;
  flex-direction: row;
  margin: 0px 0px 0px 50px;
  align-items: center;
  position: relative;
}
.iconimage{
  height: 50px;
  color: #37009e;
  background-color:white;
  border-radius: 10px;
  padding: 0px 5px 5px 5px;
}
h1{

    text-align: center;
    color:#72FFFF;
    font-size: 25px;
    word-spacing: 5px;
    padding: 20px 10px;
    margin: 0px 0px 0px 0px;
  
}
h3{
  font-size: 15px;
  color:#72FFFF;
  padding: 22px 24px;
  margin: 0px;
}



body{
  display: flex;
  flex-direction: column;
  margin: 0px;
}

   .welcome{
       font-size: 30px;
       color: white;
       text-align: justify;
     line-height:40px;
  /* background-color: #37009e; */
  padding: 40px 200px 40px 200px ;
  margin: 70px  00px ;
  background-image: url("luke-chesser-3rWagdKBF7U-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom;
  border-bottom: 2px solid #01243c;
  /* font-family: 'Bebas Neue', cursive; */
  /* font-family: 'Bree Serif', serif; */
  font-family: 'Russo One', sans-serif;
   margin-bottom: 0px;
   letter-spacing: 0.5px;
  }  
  
  .slideshow{
    display:flex;
    margin-right: 100px;
    margin-left: 100px;

  }
   .Text{
    text-align: center;
    bottom: 0;
    position: absolute;
    color: #72FFFF;
    font-family: 'Russo One', sans-serif;
    font-size: 15px;
    margin-bottom: 10px ;
    background-color: #01243c;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    transition: 0.5s;
   }

   .Text:hover{
    margin-bottom: 11px ;
    font-size: 17px;
    transition: 0.4s;
    cursor: pointer;
    border: 2px solid;
   }
  .next{
    font-size: 15px;
    padding: 10px 15px 10px 15px;
    background-color: #72FFFF;
    border-radius: 5px 5px 5px 5px;
    position: absolute;
    border:1px solid #01243c;
    right: -0;
    top:45%;
    margin-right: 10px;
    transition: 0.5s;
    color: #01243c;
  }
  .prev{
    font-size: 15px;
    padding: 10px 15px 10px 15px;
    background-color: #72FFFF;
    border-radius: 5px 5px 5px 5px;
    position: absolute;
    border:1px solid #01243c;
    left: -0;
    top:45%;
    margin-left: 10px;
    transition: 0.5s;
    color: #01243c;
  }
  
  .prev:hover{
    padding: 10px 15px 10px 15px;
    border-radius: 0px 5px 5px 0px;
    border: 2px solid #01243c ;
    font-size: 20px;
    background-color: #72FFFF;
    transition: 0.4s;
    top:44%;
    cursor:pointer;
    margin-left: 2px;
  }
   .next:hover{
    padding: 10px 15px 10px 15px;
    border-radius: 5px 0px 0px 5px;
    border: 2px solid #01243c ;
    font-size: 20px;
    background-color: #72FFFF;
    transition: 0.4s;
    top:44%;
    cursor:pointer;
    margin-left: 2px;
   }

  .showcase{
    display: flex;
    flex-direction: row;
     margin-top: 35px;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  border:none;

  }
  .showcase{
    margin-top: 33px;
  }
  a  {
    text-decoration: none;
    color: #72FFFF;
    margin: 0px;
    /* padding: 22px 24px; */
    transition: 0.5s;
  }
  a:hover{
    margin: 0px;
  
    padding: 23px 20px;
    color: #005b97;
    font-size: 22px;
    transition: 0.5s;
    background-color: white;
  }







#About-us{
  height: 1000px;
  margin-top: 100px;
  margin-top: 150px;
  margin-left: 150px;
  margin-right: 150px;
}
#Events{
  margin-top: 1000px;
  height: 1000px;
}

p {
 text-align: justify;
  margin-right: 100px;
  margin-left: 100px;
  font-size: 25px;
  line-height: 35px;
}
h2{
  margin-top: 60px;
  line-height: 0px;
  margin-left: 100px;
  color:purple;
}

h6{
    font-size: 25px;
    position: absolute;
    bottom: -30px;
    text-align: center;
  
   font-family: 'Orbitron', sans-serif;
  background-color: white;
  padding-bottom: 15px;
  padding-top: 15px ;
  
  width: 100%;

}
